nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
    width: 100%;
}

.menu-nav {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.menu-nav li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1.1rem;
}